@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #B6D25A;
  --secondary: #419DD8;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

}



body { 
  font-family:'Poppins', sans-serif; 
}

.hero{
  background:  url('../public/images/hero-image.jpg') no-repeat center center fixed;
  background-size: cover;
  backdrop-filter: blur(10px);
}
.contact-page {
  background: url('../public/images/contacts_banner.jpg') no-repeat center center fixed;
  background-size: cover;
  backdrop-filter: blur(10px);
}